<div class="header">
    <div class="container">
        <div class="logo">
            <a href="https://wei886-tw.github.io/git-week3-page1/">
                <img src="../assets/images/logo-pc .png" alt="logo-pc">
            </a>
        </div>
        <ul  class="menu">
            <li><a href=" https://wei886-tw.github.io/git-week3-page3/">系列鏡框</a></li>
            <li><a href="https://wei886-tw.github.io/git-week3-page4/">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="https://wei886-tw.github.io/git-week3-page6/">常見問題</a></li>
        </ul>
    </div>
</div>
